/* Tipo de evento */
.details__categoria .list__colecciones {
    right: -237%; 
}
/* Coleccion */
.details__categoria .list-colecciones {
    right: -177%; 
}
/* Accesorios*/
.details__categoria .list-categoria-accesorios {

    right: -218%; 
}

